header > h1{
	text-align: center;
}

/*header{
	background-color: cyan
}*/

div{
	margin: 5px;
}

div.bloques{
	border: 1pt;
	border-style: solid;
	border-color: #cbccc1;
	padding-right: 10px;
	padding-left: 10px;
}

div#nombres{
	padding: 10px;
}
span#foto > img{
	width: 20%;
}

ul.info{
	float: right;
	width: 73%;
	list-style: none;
}

div#personales{
	padding-left: 15px;
	padding-right: 15px;
}
div#personales > h2{
	text-align: center;
}

div#educacion  ul{
	list-style: none;
}

span#Universidad>img{
	width: 20%;
}
span#Colegio>img{
	width: 15%;
}